*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240,240,250);
}

form{
    width: 300px;
    height: 300px;
    background-color: darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#blocks_div{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col{
    width: 400px;
    padding: 50px 0 50px 0;
    border: 4px solid darkgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upperFormDiv{
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

#upperFormDiv > p{
    margin-left: 15px;
    display: block;
    width: 250px;
}

#upperFormDiv > input{
    width: 100px;
    height: 20px;
}

#upperFormDiv > input[type=submit]{
    margin: 2px 5px 2px 5px;
}

input[type=submit]{
    background-color: dodgerblue;
    color: white;
}

input{
    border-radius: 5px;
    outline: none;
    border: none;
}

#card{
    height: 200px;
    width: 300px;
    margin: 20px 0 20px 0;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cardTitle{
    font-size: 2em;
}

#pointslist{
    list-style: decimal;
}

#pointslist > div {
    width: 200px
}

#pointslist > div:hover {
    text-decoration: line-through;
    cursor: pointer;
}

#pointslist hr {
    background-color: white;
    border: 1px solid white;
    margin-top: 2px;
}

#pointslist > div:hover > hr {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

#errorp{
    color: red;
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: 2em;
}

.TaskDone hr{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}

.TaskDone{
    text-decoration: line-through;
    cursor: pointer;
}