*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240,240,250);
}

form{
    width: 250px;
    height: 300px;
    background-color: darkgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

textarea{
    resize: none;
    border-radius: 5px;
}

hr{
    width: 150px;
    background-color: white;
    border: 1px solid white;
}

#blocks_div{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col{
    width: 350px;
    padding: 50px 0 50px 0;
    border-right: 4px solid darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#forth_col{
    border: none
}

.col_title{
    position: relative;
    bottom: 20px;
    color: dodgerblue;
    font-size: 1.8em;
}


#upperFormDiv{
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

#upperFormDiv > div{
    margin: 5px 0 5px 0;
}

#upperFormDiv > p{
    margin-left: 15px;
    display: block;
    width: 250px;
}

#upperFormDiv > input{
    width: 100px;
    height: 20px;
}

input[type=submit]{
    background-color: dodgerblue;
    width: 140px;
    height: 30px;
    color: white;
    outline: none;

}

input{
    border-radius: 5px;
    border: none;
}

.cardside{
    position: relative;
    height: 250px;
    width: 250px;
    margin: 20px 0 20px 0;
    background-color: lightblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#cardTitle{
    font-size: 1.2em;
}

#errorp{
    color: red;
    width: 100%;
    text-align: center;
    font-weight: 1000;
    font-size: 2em;
}

.TaskDone{
    text-decoration: line-through;
    cursor: pointer;
}

.cardDate{
    font-size: 0.85em;
}

.just_button{
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: white;
}

.danger_button{
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}

.moveBackBtn, .moveForwardBtn{
    margin-bottom: 50px;
    background-color: dodgerblue;
    color: white;
    font-weight: 1000;
    font-size: 1.3em;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
}

.moveBackBtn{
    top: 80px;
    right: 230px;
}

.moveForwardBtn{
    top: 80px;
    left: 230px;
}

.doneInTime{
    background-color: lightgreen;
}

.notDoneInTime{
    background-color: lightcoral;
}



